body {
  font-family: Arial, sans-serif;
  padding: 0px;
}

h1 {
  font-weight: bold;
  font-size: 36pt;
  margin: 0px;
  padding: 5px;
}

table.report {
  border-spacing: 0px;
  border: 1px solid black;
  padding: 5px;
}

.report td {
  padding: 25px;
  font-size: 36pt;
  text-align: center;
}

.button {
    background-color: #000FFF;
    color: #FFF;
    float: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.button.action-btn {
    width: 90px;
    height: 60px;
    font-size: 24pt;
    vertical-align: middle;
}

.button.refresh-btn {
    width: 150px;
    height: 60px;
    font-size: 24pt;
    vertical-align: middle;
}
